/*
TOC:
- RESET
- VARIABLES
- BASIC LAYOUT
- VERIFICATIONS (TBC)
- RESPONSIVE (TBC)
*/

/* RESET (from Josh Comeau) */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* VARIABLES */
:root {
    --accent-color: rgb(198, 131, 42);
    --bg-color: rgb(230, 231, 237);
    --fg-color: rgb(255, 255, 255);

    --basic-font: "Roboto", sans-serif;
}

@font-face {
    font-family: NorseBold;
    src: url(./font/Norse-Bold.otf);
}

/* BASIC LAYOUT */
body {
	display: flex;
}

p,
a,
h1,
button,
input,
label {
    font-family: var(--basic-font);
}

main > #main-text > p,
label,
button {
    font-weight: 800;
}

#side-bar {
	width: 40vw;
	height: 100vh;
	text-align: center;
	background-image: url(img/sidebar_img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#side-bar > #odin-logo {
    position: relative;
    top: 30%;

    height: 20%;
    padding: 1rem;
    background-color: rgba(198, 131, 42, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-bar > #odin-logo > img {
    height: 100%;
}

#side-bar > #odin-logo > p {
    font-size: 750%;
    color: var(--fg-color);
    font-family: NorseBold;
}

#side-bar > #sidebar-credit {
	padding: 0;
	margin: 0;
	position: relative;
	top: 72%;
	color: var(--fg-color);
}

#sidebar-credit > a {
	color: var(--accent-color);
}

main {
	width: 60vw;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: var(--bg-color);
}

main > #main-text {
    margin-bottom: 2rem;
}

main > #main-text > p {
    margin: 0.5rem 2rem;
    font-size: 1.3rem;
    line-height: 1.2;
}

main > #sign-up {
	background-color: var(--fg-color);
	width: inherit;
    padding: 1rem;
}

#sign-up > h1 {
    padding-left: 1.2rem;
}

form {
	display: flex;
	flex-wrap: wrap;
}

form > div {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
    padding: 0.5rem 1.2rem;
}

form > div > label {
    font-size: small;
	text-transform: uppercase;
}   

main > p,
main > button {
    margin: 0.5rem 2rem;
}

main > button {
	width: fit-content;
	padding: 0.5rem 2rem;
    margin-top: 2rem;
	border-radius: 0.5rem;

    background-color: var(--accent-color);
    color: var(--fg-color);
}